<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
      <section name="appsettings" type="SecEventChecker.ConfSects.CustomConfigSection, SecEventChecker"/>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appsettings interval ="30"     
                 timespan ="90"
                 efrom = "from@email.com"
                 eto = "to@email.com"
                 esubj = "custom subject here"
                 esmtp = "mail.mailserver.com"
                 eventsimportfile = "C:\Users\george\Documents\DevCon2017\data\winlogevents.txt"
                 eventdictfile ="C:\Users\george\Documents\DevCon2017\data\eventdict.txt"
                 connectionString ="" 
                  />
</configuration>